<section id="prod-comp-links">
  <a <%= title === 'All Products' ? "class=active" : '' %>  href="/products">Products</a>
  <a <%= title === 'All Components' ? "class=active" : '' %>  href="/components">Components</a>
</section>