<section class="hero">
  <h2>Banner / Logo / Something goes here</h2>
</section>

<nav id="store-nav">
  <a href="/">All</a>
  <a href="/?prodFilter=products">Products</a>
  <a href="/?prodFilter=components">Components</a>
</nav>