*{
  --nav-bg-color: linear-gradient(rgba(169, 169, 169, 1), rgba(169, 169, 169, 0.6));  
  --nav-bg-color-inv: linear-gradient(rgba(169, 169, 169, 0.6),rgba(169, 169, 169, 1));
  --nav-text-color: rgb(0, 0, 0);
  --button-hover-color: rgba(0,0,0,.1);
  --content-bg-color: white;
  --content-bg-color-hover: #dfdfdf;
  --link-icon-color: rgba(0,0,0,0.4);
  --lingrad-bg-grey-bg: linear-gradient(#f6f6f6, 5%, rgba(169, 169, 169, 0.2), 95%, #f6f6f6)
}

nav {
  padding: 10px 20px;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
  z-index: 10;
}

nav > a {
  text-decoration: none;
  font-size: 24px;
  padding: 0 20px;
}

button{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  font-size: 24px;
  z-index: 11;
  transition: 200ms;
  border-radius: 25px;
  padding:5px;
  cursor: pointer;
}

#search-button:hover{
  transform: rotate(0.25turn);
  /* filter: brightness(0.8); */
  box-shadow:inset 0 0 3px black;
}

nav form{
  display:inline-block;
}

form>input{
  font-size: 14px;
  padding: 6px;
  min-width: 25vw;
  margin-right: 10px;
}

.emp{
  font-size: 16px;
  transition: 200ms;
}

.emp:hover{
  box-shadow:inset 0 0 4px rgba(0, 0, 0, 1);
  background-color: var(--button-hover-color);
}

.prof-actions div a{
  padding: 0 10px;
}

.prof-actions div{
  font-size: 16px;
  position: absolute;
  left: 60px;
  top:-60px;
  opacity:0;
  transition: 250ms;
}

.prof-actions:hover div{
  opacity: 1;
  z-index: 11;
  top:0;
}

.favText{
  position: absolute;
  left: 90px;
}

.search-bar>form{
  display:flex;
  align-items: center;
}

#cart-icon-2{
  display:none;
}

#cart:hover #cart-icon-2{
  display:inline;
}

#cart:hover #cart-icon-1{
  display:none;
}

#prof-links{
  display:flex;
  align-items: center;
  height:60px;
}

#main-nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  min-height: 60px;
}

#main-nav>div{
  display: flex;
  align-items: center;
  gap: 15px;
}

#store-nav{
  display:flex;
  justify-content:center;
  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;
  background: var(--nav-bg-color-inv);
}

#store-nav a{
  color: var(--nav-text-color);
  transition: 250ms;
  border-radius: 20px;
}

#store-nav a:hover{
  box-shadow: 0 0 5px black;
  background-color: var(--button-hover-color);
}

#mobile-nav{
  display:none;
  font-size: 32px;
}

#mobile-nav a{
  font-size: 32px;
}

@media (max-width: 900px) {
  .favText{
    display:none;
  }

  .prof-actions:hover div{
    /* left:15px; */
    top: 0;
  }

  #prof-links{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 3px;
  }
}

@media (max-width: 660px){
  .search-bar{
    display:none;
  }

  #main-nav{
    display:none;
  }

  #mobile-nav{
    display:flex;
    justify-content: space-between;
  }

  #store-nav a{
    font-size: 20px;
  }
}