#main-nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  min-height: 60px;
}

nav {
  padding: 10px 20px;
  background-color: #f6f6f6;
  color: #1a1a1a;
}

nav > a {
  text-decoration: none;
  font-size: 24px;
  padding: 0 20px;
}

nav form{
  display:inline-block;
}

#store-nav{
  display:flex;
  justify-content:center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#mobile-nav{
  display:none;
  font-size: 32px;
}

#mobile-nav a{
  font-size: 32px;
}

@media (max-width: 500px){
  .search-bar{
    display:none;
  }

  #main-nav{
    display:none;
  }

  #mobile-nav{
    display:flex;
    justify-content: space-between;
  }

  #store-nav a{
    font-size: 20px;
  }
}