div{
  display:flex;
  /* justify-content: space-around; */
}

a:hover{
  font-weight: 500;
}

i{
  color: var(--link-icon-color);
}

section{
  display:flex;
  gap:15px;
}

p{
  margin: 5px;
  padding-left:3px;
}

table{
  text-align: left;
  margin: 15px;
  border: 1px solid black;
  border-collapse: collapse;
}

tr>td, tr>th{
  border-right: 1px solid black;
}

th{
  border-bottom: 1px solid black;
}

.red{
  color: red;
}

.red:focus{
  color:black;
}

.center-align{
  text-align: center;
}

.main-container{
  justify-content: center;
  gap:8vw;
  background: var(--lingrad-bg-grey-bg);
  padding: 20px 0;
}

.prodLabel{
  font-weight: 600;
  text-decoration: underline;
}

.header{
  font-size: 32px;
  font-weight: 600;
}

#left-main{
  flex-direction: column;
  width: 50%;
  /* background-color: var(--content-bg-color-hover); */
}

#left-main div{
  display:flex;
  flex-direction: column;
}

#right-main{
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 30vw;
}

@media (max-width: 1200px){
  .main-container{
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  section{
    flex-direction: column;
  }

  #left-main{
    width: auto;
  }

  #right-main{
    margin-top: 40px;
    align-items: center;
  }

}