html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #777171;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

a {
  color:black;
  text-decoration: none;
}

pre {
  font-size: 14px;
}

.product-listing{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  gap: 1rem;
  margin: 20px 10%;
}

.product{
  height: 300px;
  width:max(250px);
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  color: black;
}

.product:hover{
  filter: brightness(1.1);
  border: 1px solid black;
}

.prod-name{
  font-weight: 600;
}

.prod-desc{
  text-align: left;
  font-size: 16px;
}

.product p{
  margin:5px 0;
}

.hero{
  display:flex;
  justify-content: center;
}

.del-button{
  border-radius: 50%;
  color:red;
  font-size: 14px;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

#profile-pic{
  border-radius: 50%;
  margin:0;
}