<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<%- include('../partials/storeNav') %> 

<main>
  <h1>Thank you for your purchase!</h1>
</main>

<%- include('../partials/footer') %>