<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<%- include('../partials/storeNav') %> 

<main>
  <h1 style="margin-top:50px">Thank you for your purchase!</h1>
</main>

<%- include('../partials/footer') %>