<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="hero">
  <h2>Banner / Logo / Something goes here</h2>
</section>

<%- include('../partials/storeNav') %> 

<main>
  <h1>Your Shopping Cart</h1>
  
  
</main>

<%- include('../partials/footer') %>